CompileFlags:
  Add:
    - -I/opt/homebrew/opt/raylib/include
    - -I/opt/homebrew/opt/ode/include
    - -I/Users/michaelslain/Documents/dev/poker/src
    - -std=c++17
    - -x
    - c++
Diagnostics:
  Suppress:
    - -Wmissing-field-initializers
